<html>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-brand">Send Money to India | Best Rates</div>
	</div>

	<br>
	<br>
  <div class="page-container">
  	<div class="container-fluid">
		<div class="page-header text-center">
		  <h1>Send Money to India. <small> Get the best forex rate!</small></h1>
		</div>

		<p class="lead text-center">Rate's from top reimttance providers. Click logo to send money.</p>
		
		<div class="jumbotron">

			<div class="row">

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
						<%= link_to image_tag("xoom.jpeg"),  "http://refer.xoom.com/a/clk/2DqCfL", alt:'Xoom Logo', :target => "_blank" %>
			      <div class="text-center caption">
 			        <h2> $1 = <%= number_to_currency(@xoom, :unit => "Rs ", :precision => 2) %></h2>
			        	Updated at <%= @xoom_time %> PST <br>
			        	<%= link_to "Get $25 GiftCard",  "http://refer.xoom.com/a/clk/2DqCfL", :target => "_blank" %>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag("remit2india.jpeg"),  "https://www.remit2india.com/sendmoneytoindia/morLandingRef.jsp?loginId=shnarayan@paypal.com", alt:'Remit to India Logo', :target => "_blank"  %>
			      <div class="text-center caption">
 			        <h2> $1 = <%= number_to_currency(@rti, :unit => "Rs ", :precision => 2) %></h2>
 			        Updated at <%= @rti_time %> PST
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
 			      <%= link_to image_tag("westernunion.png"),  "https://www.westernunion.com/us/en/send-money-to-india.html", alt:'Western Union Logo', :target => "_blank"  %>
			      <div class="text-center caption">
			        <h2> $1 = <%= number_to_currency(@wu, :unit => "Rs ") %></h2>
			        Updated at <%= @wu_time %> PST
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag("google.jpeg"),  "https://www.google.com/finance?q=USDINR", alt:'Google Logo', :target => "_blank"  %>
			      <div class="text-center caption">
			        <h2> $1 = <%= number_to_currency(@google, :unit => "Rs ") %></h2>
			        Updated at <%= @google_time %> PST
			      </div>
			    </div>
			  </div>


			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag("icici.jpeg"),  "http://www.icicibank.com/nri-banking/money_transfer/money2india.page", alt:'Icici Remitance for NRI', :target => "_blank"  %>
			      <div class="text-center caption">
			        <h2> $1 = <%= number_to_currency(@icici, :unit => "Rs ") %></h2>
			        Updated at <%= @icici_time %> PST
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag("hdfc.jpeg"),  "http://www.hdfcbank.com/nri_banking/money_transfer/default.htm", alt:'HDFC Remitance for NRI', :target => "_blank"  %>
			      <div class="text-center caption">
			        <h2> $1 = <%= number_to_currency(@hdfc, :unit => "Rs ") %></h2>
			        Updated at <%= @hdfc_time %> PST
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag("sbi.jpeg"),  "http://www.sbical.com/", alt:'SBI Remitance for NRI', :target => "_blank"  %>
			      <div class="text-center caption">
			        <h2> $1 = <%= number_to_currency(@sbi, :unit => "Rs ") %></h2>
			        Updated at <%= @sbi_time %> PST
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag("bloomberg.jpeg"),  "http://www.bloomberg.com/quote/USDINR:CUR", alt:'Bloomberg USD to INR conversion rate', :target => "_blank"  %>
			      <div class="text-center caption">
			        <h2> $1 = <%= number_to_currency(@bloomberg, :unit => "Rs ") %></h2>
			        Updated at <%= @bloomberg_time %> PST
			      </div>
			    </div>
			  </div>


			</div>
		</div>
		</div>
	</div>

	<%= render "users/new", :@user => User.new %>


	<div id="footer">
		<div class="container text-center"
			<p class="muted credit">
		    || for enquiries contact: shankar@kargoo.com ||<br>

	  	</p>
  	</div>
  </div>
</html>
